<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Store - Your Best Marketplace</title>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link href="style/main.css" rel="stylesheet" />
  </head>

  <body>
    <div class="page-dashboard">
      <div class="d-flex" id="wrapper" data-aos="fade-right">
        <!-- sidebar -->
        <div class="border-right" id="sidebar-wrapper">
          <div class="sidebar-heading text-center">
            <img src="/images/dashboard-store-logo.svg" alt="" class="my-4" />
          </div>
          <div class="list-group list-group-flush">
            <a
              href="dashboard.html"
              class="list-group-item-action list-group-item"
              >Dashboard</a
            >
            <a
              href="product.html"
              class="list-group-item-action list-group-item"
              >My Product</a
            >
            <a
              href="dashboard-transactions.html"
              class="list-group-item-action list-group-item active"
              >Transactions</a
            >
            <a
              href="dashboard-settings.html"
              class="list-group-item-action list-group-item"
              >Store Settings</a
            >
            <a
              href="account.html"
              class="list-group-item-action list-group-item"
              >My account</a
            >
          </div>
        </div>

        <div id="page-content-wrapper">
          <nav
            class="navbar navbar-expand-lg navbar-light navbar-store fixed-top"
            data-aos="fade-down"
            aria-labelledby="navbarDropdown"
          >
            <div class="container-fluid">
              <button
                class="btn btn-secondary d-md-none mr-auto mr-2"
                id="menu-toggle"
              >
                &laquo; menu
              </button>
              <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- dekstop navbar menu -->
                <ul class="navbar-nav d-none d-lg-flex ml-auto">
                  <li class="nav-item dropdown">
                    <a
                      href="#"
                      class="nav-link"
                      id="navbarDropdown"
                      role="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <img
                        src="/images/icon-user.png"
                        alt="icon-user"
                        class="rounded-circle mr-2 profile-picture"
                      />
                      Hi, Jane
                    </a>

                    <div class="dropdown-menu">
                      <a href="dashboard.html" class="dropdown-item"
                        >Dashboard</a
                      >
                      <a href="" class="dropdown-item">Settings</a>
                      <div class="dropdown-divider"></div>
                      <a href="/" class="dropdown-item">Logout</a>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link d-inline-block mt-2">
                      <img src="/images/icon-cart-filled.svg" alt="cart" />
                      <div class="card-badge rounded-circle px-0">3</div>
                    </a>
                  </li>
                </ul>

                <!-- navbar mobile -->
                <ul class="navbar-nav d-block d-lg-none">
                  <li class="nav-item">
                    <a href="#" class="nav-link"> Hi, Jane </a>
                  </li>
                  <li class="nav-item">
                    <a href="" class="nav-link d-inline-block"> Cart </a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>

          <!-- section Content -->
          <div class="section-content section-dashboard-home">
            <div class="container-fluid">
              <h2 class="dashboard-title">#STORE0839</h2>
              <p class="dashboard-subtitle">Transactions Details</p>
              <div class="dashboard-content" id="transactionsDetails">
                <div class="row">
                  <div class="col-12">
                    <div class="card">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-12 col-md-4">
                            <img
                              src="/images/product-details-2.jpg"
                              alt=""
                              class="w-100"
                            />
                          </div>

                          <div class="col-12 col-md-8">
                            <div class="row ml-2">
                              <div class="col-6 col-md-6">
                                <div class="product-title">Customer Name</div>
                                <div class="product-subtitle">
                                  Libran Hadi Saputra
                                </div>
                              </div>
                              <div class="col-6 col-md-6">
                                <div class="product-title">Product Name</div>
                                <div class="product-subtitle">
                                  shirup marzan
                                </div>
                              </div>
                              <div class="col-6 col-md-6">
                                <div class="product-title">
                                  Date Of Transactions
                                </div>
                                <div class="product-subtitle">20-09-2020</div>
                              </div>
                              <div class="col-6 col-md-6">
                                <div class="product-title">Status</div>
                                <div class="product-subtitle text-danger">
                                  Pending
                                </div>
                              </div>
                              <div class="col-6 col-md-6">
                                <div class="product-title">Total Amount</div>
                                <div class="product-subtitle">$208,904</div>
                              </div>
                              <div class="col-6 col-md-6">
                                <div class="product-title">Mobile</div>
                                <div class="product-subtitle">
                                  +62 0818 8222
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <h5>Shipping Information</h5>
                          </div>

                          <div class="col-12">
                            <div class="row">
                              <div class="col-12 col-md-6">
                                <div class="product-title">Address 1</div>
                                <div class="product-subtitle">
                                  Setra Duta Cemara
                                </div>
                              </div>
                              <div class="col-12 col-md-6">
                                <div class="product-title">Address 2</div>
                                <div class="product-subtitle">
                                  Blok b-18 Depok
                                </div>
                              </div>
                              <div class="col-12 col-md-6">
                                <div class="product-title">Province</div>
                                <div class="product-subtitle">West Java</div>
                              </div>
                              <div class="col-12 col-md-6">
                                <div class="product-title">City</div>
                                <div class="product-subtitle">Depok</div>
                              </div>
                              <div class="col-12 col-md-6">
                                <div class="product-title">Postal Code</div>
                                <div class="product-subtitle">16016</div>
                              </div>
                              <div class="col-12 col-md-6">
                                <div class="product-title">Country</div>
                                <div class="product-subtitle">Indonesia</div>
                              </div>
                              <div class="col-12 col-md-3">
                                <div class="product-title">
                                  Status Transaction
                                </div>

                                <select
                                  name="status"
                                  id="status"
                                  class="form-control"
                                  v-model="status"
                                >
                                  <option value="PENDING">Pending</option>
                                  <option value="SHIPPING">Shipping</option>
                                  <option value="UNPAID">Unpaid</option>
                                  <option value="SUCCESS">Success</option>
                                </select>
                              </div>
                              <template v-if="status == 'SHIPPING' ">
                                <div class="col-md-3">
                                  <div class="product-title">Input Resi</div>

                                  <input
                                    type="text"
                                    class="form-control"
                                    v-model="resi"
                                  />
                                </div>
                                <div class="col-md-2">
                                  <button
                                    type="submit"
                                    class="btn btn-success btn-block mt-4"
                                  >
                                    Update Resi
                                  </button>
                                </div>
                              </template>
                            </div>
                            <div class="row mt-4">
                              <div class="col-12 text-right">
                                <button
                                  type="submit"
                                  class="btn btn-success btn-lg"
                                >
                                  Save Now
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.slim.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <!-- jquery -->
    <script>
      $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
      });
    </script>
    <script src="/script/navbar-scroll.js"></script>
    <script src="/vendor/vue/vue.js"></script>
    <script>
      var transactionsDetails = new Vue({
        el: "#transactionsDetails",

        data: {
          status: "SHIPPING",
          resi: "b23843284",
        },
      });
    </script>
  </body>
</html>
