.card-list {
  background: #fefefe;
  box-shadow: 0px 4px 15px #f1f1f8;
  border-radius: 8px;
  border: none;
  margin-bottom: 10px;

  .card-body {
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    color: #0c0d36;
  }
}
